# Ignore database files
*.db

# Ignore executable files
*.exe
*.out
*.o
*.a
*.so
*.dll

# Ignore any other intermediate files
*.obj
*.class
*.bin
*.log

# Ignore backup files
*~
*.bak
*.swp


da_browser_launcher
